
<div class="contact-form" id="contactForm">
    <div class="form">
        <p>Name</p>
        <input type="text" class="name">
        <span class="contact-name">*</span>
        <p>Email</p>
        <input type="text" class="email">
        <span class="contact-email">*</span>
        <div class="number">
            <div class="phone">
                <p>Mobile</p>
                <input type="text" class="mobile">
                <span class="contact-mobile">*</span>
            </div>
            <div class="phone">
                <p>Landline</p>
                <input type="text" class="landline">
            </div>
        </div>
        <p>Website</p>
        <input type="text" class="website">
        <span class="contact-website">*</span>
        <p>Address</p>
<textarea type="text" class="address">
</textarea>
        <button type"submit" class="cancel">Cancel</button>
        <button type"submit" class="add">Add</button>
        <button type"submit" class="update">Update</button>

    </div>
    </div>
