<div class="contact-information">
    <span>
        <h1 class="name-container"></h1>
        <div class="edit">
            <img src="~/Content/edit1.jpg" />EDIT
            
        </div>
        <div class="delete">
            <img src="~/Content/delete1.png" />
           DELETE
        </div>
    </span>
    <p class="email-container">Email: </p>
    <p class="mobile-container">Mobile: </p>
    <p class="landline-container">Landline: </p>
    <p class="website-container">Website: </p>
    <p class="address-container">Address: </p>
</div>

